<h1>Nuevo héroe <small>nombre_heroe</small></h1>
<div fxLayout="row" fxLayoutGap="40px">
    <div fxFlex="50" fxLayout="column">
        <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field fxFlex="100">
                <mat-label>Súper Héroe</mat-label>
                <input matInput type="text" required aria-label="Súper Héroe" >
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input matInput type="text" required aria-label="Alter Ego" >
            </mat-form-field>
        </div>
        <mat-form-field>
            <mat-label>Primera Aparición</mat-label>
            <input matInput type="text" required aria-label="Primera Aparición" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Personajes</mat-label>
            <input matInput type="text" required aria-label="Personajes" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Creador</mat-label>
            <mat-select>
                <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
                    {{ publisher.desc }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Foto Url</mat-label>
            <input matInput type="url" required aria-label="Foto Url" >
        </mat-form-field>
        <br>
        <button mat-raised-button color="accent">
            <mat-icon>edit</mat-icon> Guardar
        </button>
    </div>
    <div fxFlex="50">
        <img [src]="heroe | imagen" alt="">
    </div>
</div>
