<div class="flex flex-column">
  <span class="text-lg mb-4">Login</span>
  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input type="text" matInput placeholder="Nombre de usuario">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput placeholder="Contraseña">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select Role</mat-label>
    <mat-select [(value)]="selectRole">
      <mat-option *ngFor="let role of optionRoles" [value]="role.value">
        {{role.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button (click)="onLogin()" mat-button mat-flat-button color="primary">
    <mat-icon>login</mat-icon> Ingresar
  </button>
  <div class="flex justify-content-end mt-5">
    <a [routerLink]="['/auth', 'register']">Regístrate aquí</a>
  </div>
</div>
